@import "./variables.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  background-color: var(--background);
  color: var(--text);
}
